:root {
  --black: #000000;
  --purpura: #800080;
  --blue: #0000ff;
  --orange: #ffa500;
  --neon-green: #39ff14;
}

@font-face {
  src: url("../font/Oxygen/Oxygen-Light.ttf") format("truetype");
  font-family: "Oxygen-Light";
  font-weight: 300;
}
@font-face {
  src: url("../font/Oxygen/Oxygen-Regular.ttf") format("truetype");
  font-family: "Oxygen-Regular";
  font-weight: 400;
}
@font-face {
  src: url("../font/Oxygen/Oxygen-Bold.ttf") format("truetype");
  font-family: "Oxygen-Bold";
  font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Oxygen-Bold";
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p,
.p,
span,
.span,
a {
  font-family: "Oxygen-Regular";
  margin-top: 0;
}

.container-fluid {
  width: 100%;
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}
.container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-ext {
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 480px) {
  .container {
    max-width: 460px;
  }
  .container-sm {
    max-width: 460px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
  .container-sm {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
  .container-sm {
    max-width: 740px;
  }
  .container-md {
    max-width: 740px;
  }
}
@media (min-width: 801px) {
  .container {
    max-width: 780px;
  }
  .container-sm {
    max-width: 780px;
  }
  .container-md {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container-sm {
    max-width: 960px;
  }
  .container-md {
    max-width: 960px;
  }
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1025px) {
  .container {
    max-width: 1000px;
  }
  .container-sm {
    max-width: 1000px;
  }
  .container-md {
    max-width: 1000px;
  }
  .container-lg {
    max-width: 1000px;
  }
  .container-xl {
    max-width: 1000px;
  }
}
@media (min-width: 1281px) {
  .container {
    max-width: 1260px;
  }
  .container-sm {
    max-width: 1260px;
  }
  .container-md {
    max-width: 1260px;
  }
  .container-lg {
    max-width: 1260px;
  }
  .container-xl {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .container-sm {
    max-width: 1320px;
  }
  .container-md {
    max-width: 1320px;
  }
  .container-lg {
    max-width: 1320px;
  }
  .container-xl {
    max-width: 1320px;
  }
  .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1720px;
  }
  .container-sm {
    max-width: 1720px;
  }
  .container-md {
    max-width: 1720px;
  }
  .container-lg {
    max-width: 1720px;
  }
  .container-xl {
    max-width: 1720px;
  }
  .container-xxl {
    max-width: 1720px;
  }
  .container-ext {
    max-width: 1720px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  align-items: baseline;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
}

.col {
  flex: 1 0 0%;
  word-break: break-word;
  float: left;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

@media (min-width: 480px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 1025px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 1800px) {
  .col-ext-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

@media (min-width: 480px) {
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

@media (min-width: 1025px) {
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

@media (min-width: 1800px) {
  .col-ext-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

@media (min-width: 480px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 1025px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 1800px) {
  .col-ext-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

@media (min-width: 480px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 1025px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 1800px) {
  .col-ext-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

@media (min-width: 480px) {
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 1025px) {
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

@media (min-width: 1800px) {
  .col-ext-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

@media (min-width: 480px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 1800px) {
  .col-ext-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

@media (min-width: 480px) {
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 1025px) {
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

@media (min-width: 1800px) {
  .col-ext-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

@media (min-width: 480px) {
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

@media (min-width: 1025px) {
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

@media (min-width: 1800px) {
  .col-ext-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

@media (min-width: 480px) {
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 1025px) {
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 1800px) {
  .col-ext-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

@media (min-width: 480px) {
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

@media (min-width: 1025px) {
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

@media (min-width: 1800px) {
  .col-ext-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

@media (min-width: 480px) {
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

@media (min-width: 1025px) {
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

@media (min-width: 1800px) {
  .col-ext-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 480px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .col-ext-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

nav,
.nav {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
nav > .container, nav > .container-sm, nav > .container-md, nav > .container-lg, nav > .container-xl, nav > .container-xxl, nav > .container-exl, nav > .container-fluid,
.nav > .container,
.nav > .container-sm,
.nav > .container-md,
.nav > .container-lg,
.nav > .container-xl,
.nav > .container-xxl,
.nav > .container-exl,
.nav > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-sm > .container > button.navbar-toggler, .navbar-sm > .container-sm > button.navbar-toggler, .navbar-sm > .container-md > button.navbar-toggler, .navbar-sm > .container-lg > button.navbar-toggler, .navbar-sm > .container-xl > button.navbar-toggler, .navbar-sm > .container-xxl > button.navbar-toggler, .navbar-sm > .container-exl > button.navbar-toggler, .navbar-sm > .container-fluid > button.navbar-toggler {
  display: block;
}
@media (min-width: 576px) {
  .navbar-sm > .container > button.navbar-toggler, .navbar-sm > .container-sm > button.navbar-toggler, .navbar-sm > .container-md > button.navbar-toggler, .navbar-sm > .container-lg > button.navbar-toggler, .navbar-sm > .container-xl > button.navbar-toggler, .navbar-sm > .container-xxl > button.navbar-toggler, .navbar-sm > .container-exl > button.navbar-toggler, .navbar-sm > .container-fluid > button.navbar-toggler {
    display: none;
  }
}

.navbar-md > .container > .navbar-toggler, .navbar-md > .container-sm > .navbar-toggler, .navbar-md > .container-md > .navbar-toggler, .navbar-md > .container-lg > .navbar-toggler, .navbar-md > .container-xl > .navbar-toggler, .navbar-md > .container-xxl > .navbar-toggler, .navbar-md > .container-exl > .navbar-toggler, .navbar-md > .container-fluid > .navbar-toggler {
  display: block;
}
@media (min-width: 768px) {
  .navbar-md > .container > .navbar-toggler, .navbar-md > .container-sm > .navbar-toggler, .navbar-md > .container-md > .navbar-toggler, .navbar-md > .container-lg > .navbar-toggler, .navbar-md > .container-xl > .navbar-toggler, .navbar-md > .container-xxl > .navbar-toggler, .navbar-md > .container-exl > .navbar-toggler, .navbar-md > .container-fluid > .navbar-toggler {
    display: none;
  }
}

.navbar-lg > .container > .navbar-toggler, .navbar-lg > .container-sm > .navbar-toggler, .navbar-lg > .container-md > .navbar-toggler, .navbar-lg > .container-lg > .navbar-toggler, .navbar-lg > .container-xl > .navbar-toggler, .navbar-lg > .container-xxl > .navbar-toggler, .navbar-lg > .container-exl > .navbar-toggler, .navbar-lg > .container-fluid > .navbar-toggler {
  display: block;
}
@media (min-width: 992px) {
  .navbar-lg > .container > .navbar-toggler, .navbar-lg > .container-sm > .navbar-toggler, .navbar-lg > .container-md > .navbar-toggler, .navbar-lg > .container-lg > .navbar-toggler, .navbar-lg > .container-xl > .navbar-toggler, .navbar-lg > .container-xxl > .navbar-toggler, .navbar-lg > .container-exl > .navbar-toggler, .navbar-lg > .container-fluid > .navbar-toggler {
    display: none;
  }
}

.navbar-xl > .container > .navbar-toggler, .navbar-xl > .container-sm > .navbar-toggler, .navbar-xl > .container-md > .navbar-toggler, .navbar-xl > .container-lg > .navbar-toggler, .navbar-xl > .container-xl > .navbar-toggler, .navbar-xl > .container-xxl > .navbar-toggler, .navbar-xl > .container-exl > .navbar-toggler, .navbar-xl > .container-fluid > .navbar-toggler {
  display: block;
}
@media (min-width: 1025px) {
  .navbar-xl > .container > .navbar-toggler, .navbar-xl > .container-sm > .navbar-toggler, .navbar-xl > .container-md > .navbar-toggler, .navbar-xl > .container-lg > .navbar-toggler, .navbar-xl > .container-xl > .navbar-toggler, .navbar-xl > .container-xxl > .navbar-toggler, .navbar-xl > .container-exl > .navbar-toggler, .navbar-xl > .container-fluid > .navbar-toggler {
    display: none;
  }
}

.navbar-xxl > .container > .navbar-toggler, .navbar-xxl > .container-sm > .navbar-toggler, .navbar-xxl > .container-md > .navbar-toggler, .navbar-xxl > .container-lg > .navbar-toggler, .navbar-xxl > .container-xl > .navbar-toggler, .navbar-xxl > .container-xxl > .navbar-toggler, .navbar-xxl > .container-exl > .navbar-toggler, .navbar-xxl > .container-fluid > .navbar-toggler {
  display: block;
}
@media (min-width: 1400px) {
  .navbar-xxl > .container > .navbar-toggler, .navbar-xxl > .container-sm > .navbar-toggler, .navbar-xxl > .container-md > .navbar-toggler, .navbar-xxl > .container-lg > .navbar-toggler, .navbar-xxl > .container-xl > .navbar-toggler, .navbar-xxl > .container-xxl > .navbar-toggler, .navbar-xxl > .container-exl > .navbar-toggler, .navbar-xxl > .container-fluid > .navbar-toggler {
    display: none;
  }
}

.navbar-ext > .container > .navbar-toggler, .navbar-ext > .container-sm > .navbar-toggler, .navbar-ext > .container-md > .navbar-toggler, .navbar-ext > .container-lg > .navbar-toggler, .navbar-ext > .container-xl > .navbar-toggler, .navbar-ext > .container-xxl > .navbar-toggler, .navbar-ext > .container-exl > .navbar-toggler, .navbar-ext > .container-fluid > .navbar-toggler {
  display: block;
}
@media (min-width: 1800px) {
  .navbar-ext > .container > .navbar-toggler, .navbar-ext > .container-sm > .navbar-toggler, .navbar-ext > .container-md > .navbar-toggler, .navbar-ext > .container-lg > .navbar-toggler, .navbar-ext > .container-xl > .navbar-toggler, .navbar-ext > .container-xxl > .navbar-toggler, .navbar-ext > .container-exl > .navbar-toggler, .navbar-ext > .container-fluid > .navbar-toggler {
    display: none;
  }
}

.navbar-brand {
  padding-top: 0.3215em;
  padding-bottom: 0.3215em;
  margin-right: 1em;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*# sourceMappingURL=index.css.map */
