:root {
  --black: #000000;
  --purpura: #800080;
  --blue: #0000ff;
  --orange: #ffa500;
  --neon-green: #39ff14;
}

@font-face {
  src: url("../font/Oxygen/Oxygen-Light.ttf") format("truetype");
  font-family: "Oxygen-Light";
  font-weight: 300;
}
@font-face {
  src: url("../font/Oxygen/Oxygen-Regular.ttf") format("truetype");
  font-family: "Oxygen-Regular";
  font-weight: 400;
}
@font-face {
  src: url("../font/Oxygen/Oxygen-Bold.ttf") format("truetype");
  font-family: "Oxygen-Bold";
  font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Oxygen-Bold";
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

p,
.p,
span,
.span,
a {
  font-family: "Oxygen-Regular";
  margin-top: 0;
  margin-bottom: 1rem;
}

.container-fluid {
  width: 100%;
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}
.container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-ext {
  padding-right: 0.75em;
  padding-left: 0.75em;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 480px) {
  .container {
    max-width: 460px;
  }
  .container-sm {
    max-width: 460px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 560px;
  }
  .container-sm {
    max-width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
  .container-sm {
    max-width: 740px;
  }
  .container-md {
    max-width: 740px;
  }
}
@media (min-width: 801px) {
  .container {
    max-width: 780px;
  }
  .container-sm {
    max-width: 780px;
  }
  .container-md {
    max-width: 780px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container-sm {
    max-width: 960px;
  }
  .container-md {
    max-width: 960px;
  }
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1025px) {
  .container {
    max-width: 1000px;
  }
  .container-sm {
    max-width: 1000px;
  }
  .container-md {
    max-width: 1000px;
  }
  .container-lg {
    max-width: 1000px;
  }
  .container-xl {
    max-width: 1000px;
  }
}
@media (min-width: 1281px) {
  .container {
    max-width: 1260px;
  }
  .container-sm {
    max-width: 1260px;
  }
  .container-md {
    max-width: 1260px;
  }
  .container-lg {
    max-width: 1260px;
  }
  .container-xl {
    max-width: 1260px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .container-sm {
    max-width: 1320px;
  }
  .container-md {
    max-width: 1320px;
  }
  .container-lg {
    max-width: 1320px;
  }
  .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1720px;
  }
  .container-sm {
    max-width: 1720px;
  }
  .container-md {
    max-width: 1720px;
  }
  .container-lg {
    max-width: 1720px;
  }
  .container-xl {
    max-width: 1720px;
  }
  .container-ext {
    max-width: 1720px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*# sourceMappingURL=index.css.map */
