.container-fluid {
    width: 100%;
    @include container-adjust;
}

.container {
    @include container-adjust;

    &-sm,
    &-md,
    &-lg,
    &-xl,
    &-xxl,
    &-ext {
        @include container-adjust;
    }

    // smartphones
    @media (min-width: 480px) {
        max-width: 460px;

        &-sm {
            max-width: 460px;
        }
    }

    @media (min-width: 576px) {
        max-width: 560px;

        &-sm {
            max-width: 560px;
        }
    }

    //tablets
    @media (min-width: 768px) {
        max-width: 740px;

        &-sm {
            max-width: 740px;
        }

        &-md {
            max-width: 740px;
        }
    }

    @media (min-width: 801px) {
        max-width: 780px;

        &-sm {
            max-width: 780px;
        }

        &-md {
            max-width: 780px;
        }
    }

    // large laptops
    @media (min-width: 992px) {
        max-width: 960px;

        &-sm {
            max-width: 960px;

        }

        &-md {
            max-width: 960px;

        }

        &-lg {
            max-width: 960px;

        }
    }

    @media (min-width: 1025px) {
        max-width: 1000px;

        &-sm {
            max-width: 1000px;
        }

        &-md {
            max-width: 1000px;
        }

        &-lg {
            max-width: 1000px;
        }

        &-xl {
            max-width: 1000px;
        }
    }

    @media (min-width: 1281px) {
        max-width: 1260px;

        &-sm {
            max-width: 1260px
        }

        &-md {
            max-width: 1260px
        }

        &-lg {
            max-width: 1260px
        }

        &-xl {
            max-width: 1260px
        }
    }

    // big desk
    @media (min-width: 1400px) {
        max-width: 1320px;

        &-sm {
            max-width: 1320px;
        }

        &-md {
            max-width: 1320px;
        }

        &-lg {
            max-width: 1320px;
        }

        &-xl {
            max-width: 1320px;
        }

        &-xxl {
            max-width: 1320px;
        }
    }

    @media (min-width: 1800px) {
        max-width: 1720px;

        &-sm {
            max-width: 1720px;
        }

        &-md {
            max-width: 1720px;
        }

        &-lg {
            max-width: 1720px;
        }

        &-xl {
            max-width: 1720px;
        }

        &-xxl {
            max-width: 1720px;
        }

        &-ext {
            max-width: 1720px;
        }
    }
}

