.container-fluid {
    width: 100%;
    @include container-adjust;
}

.container {
    @include container-adjust;

    &-sm,
    &-md,
    &-lg,
    &-xl,
    &-xxl,
    &-ext {
        @include container-adjust;
    }

    @media (min-width: 576px) {
        max-width: 540px;

        &-sm {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        max-width: 720px;

        &-sm {
            max-width: 720px;
        }

        &-md {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        max-width: 960px;

        &-sm {
            max-width: 960px;

        }

        &-md {
            max-width: 960px;

        }

        &-lg {
            max-width: 960px;

        }
    }

    @media (min-width: 1025px) {
        max-width: 1020px;

        &-sm {
            max-width: 1020px;
        }

        &-md {
            max-width: 1020px;
        }

        &-lg {
            max-width: 1020px;
        }

        &-xl {
            max-width: 1020px;
        }
    }

    @media (min-width: 1400px) {
        max-width: 1320px;

        &-sm {
            max-width: 1320px;
        }

        &-md {
            max-width: 1320px;
        }

        &-lg {
            max-width: 1320px;
        }

        &-xxl {
            max-width: 1320px;
        }
    }

    @media (min-width: 1800px) {
        max-width: 1720px;

        &-sm {
            max-width: 1720px;
        }

        &-md {
            max-width: 1720px;
        }

        &-lg {
            max-width: 1720px;
        }

        &-xl {
            max-width: 1720px;
        }

        &-ext {
            max-width: 1720px;
        }
    }
}