@font-face {
    src: url('../font/Oxygen/Oxygen-Light.ttf') format('truetype');
    font-family: 'Oxygen-Light';
    font-weight: 300;
}

@font-face {
    src: url('../font/Oxygen/Oxygen-Regular.ttf') format('truetype');
    font-family: 'Oxygen-Regular';
    font-weight: 400;
}

@font-face {
    src: url('../font/Oxygen/Oxygen-Bold.ttf') format('truetype');
    font-family: 'Oxygen-Bold';
    font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Oxygen-Bold';
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

p,
.p,
span,
.span,
a {
    font-family: 'Oxygen-Regular';
    margin-top: 0;
    margin-bottom: 1rem;
}