//espaçamento base
$bs-gutter-x: 1.5em;
$bs-gutter-y: 0;

//grid
$grid-cols: 12;

//alinhamento de texto da row
$align-items-row: baseline;

// @media (min-width: 576px) {}
// @media (min-width: 768px) {}
// @media (min-width: 992px) {}
// @media (min-width: 1025px) {}
// @media (min-width: 1400px) {}
// @media (min-width: 1800px) {}